<html>
<head>
  <!--<link rel="stylesheet" type="text/css" href="navigation_panel.css">-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <title>Kategoria</title>
</head>
<body>

<!-- Right panel containing informational boxes-->

<div class="right-panel">

  <!-- One box in the right panel -->
  <div class="black-box upper-box">
    <!-- Header -->
    <div class="box-title">Ucz się!</div>
    <div class="upper-part">Opanowałeś ten dział w  <span class="fancy-text">58%</span></div>
    <div class="bottom-part">
      <div class="black-box-text">Wybierz słówka i przejdź do ćwiczeń, aby poprawić swój wynik</div>
    </div>
    <!-- Button with link to exercises -->
    <a class="fancy-button not-selectable" href="#">Przejdź do ćwiczeń<i class="fas fa-play-circle"></i></a>
  </div>

</div>

<!-- Content of page -->

<div class="content">

  <!-- The upper functional panel -->
  <div class="top-panel">
    <!-- Header of the panel -->
    <h1 *ngIf="!editMode" class="panel-title editable" style="margin: 0;">
      {{category.name}}
      <i *ngIf="categoryId != 0" (click)="editMode = !editMode" class="fas fa-pencil-alt pencil-icon"></i>
      <i (click)="deleteCategory()" class="far fa-trash-alt"></i>
    </h1>
    <h1 *ngIf="editMode" class="panel-title editable" style="margin: 0;">
      <div *ngIf="editMode" class="search-input">
      <input *ngIf="editMode" (keyup)="onUpdate($event)" type="text" class="main-search"
             [ngModel]="category.name" style="height: 40px; font-size: 100%; margin: 0; font-family: AmaticSC-Bold">
      </div>
      <i (click)="deleteCategory()" class="far fa-trash-alt"></i>
    </h1>

    <ul class="panel-actions">
      <li class="content-panel-item">Dodaj słówka</li>
      <li class="content-panel-item" (click)="deleteWords()">Usuń słówka</li>
    </ul>


    <ul class="letter-index" style="margin: 0;">
      <div class="letter-index-div" *ngFor="let letter of letters">
        <li *ngIf="!letter.hasWord" class="letter-index-item"><a class="letter-index-link deactivated-link">{{letter.letter}}</a></li>
        <li *ngIf="letter.hasWord" class="letter-index-item"><a href="{{router.url.split('#')[0]}}#letter-{{letter.letter}}" class="letter-index-link">{{letter.letter}}</a></li>
      </div>

    </ul>

    <div class="search-input">
      <input (keyup)="onSearch($event)" tpe="text" class="main-search" placeholder="Szukaj słówka w kategorii..." id="search-word">
      <i class="fas fa-search search-icon"></i>
    </div>

    <div class="select-words">
      <button (click)="selectBox = !selectBox" class="select-words-text select-words-button">{{chosenOption.text}}</button>
      <button (click)="selectBox = !selectBox" class="select-words-arrow select-words-button"></button>
      <ul *ngIf="selectBox" class="select-words-menu" style="margin: 0">
        <li class="menu-item" (click)="chooseOption(allWordsOption)" style="text-align: center;">{{allWordsOption.text}}</li>
        <li class="menu-item" (click)="chooseOption(hardWordsOption)" style="text-align: center;">{{hardWordsOption.text}}</li>
      </ul>
      <div *ngIf="!selectBox" class="number-of-selected-words">Wybrano: {{selectedWords}}</div>


    </div>

  </div>

  <ng-container *ngIf="dataLoaded" >
    <div *ngFor="let letter of firstLetters">
      <div *ngIf="letter.words.length > 0" class="content-block categories-content">
        <div *ngIf="letter.shouldBeDisplayed" class="letter-category">
             <!--*ngIf="searchTerm.length == 0 || letter.letter.toLowerCase().startsWith(searchTerm[0].toLowerCase())">-->

          <div id="letter-{{letter.letter}}" class="letter-header">{{letter.letter.toUpperCase()}}</div>

          <div class="letter-word-description" *ngFor="let word of letter.words">
            <!--<div *ngIf="word.word.toLowerCase().includes(searchTerm.toLowerCase())">-->
            <div *ngIf="word.shouldBeDisplayed">
              <div class="word-header">
                <a class="word-header-link" [routerLink]="['/word/' + word.id]">{{word.word}}</a>
                <label class="checkbox-container">
                  <input type="checkbox" [checked]="word.selected" (change)="selectWord(word)">
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="word-descriptions" *ngFor="let translation of wordsTranslationsMapping[word.id]; let i = index">
                <div class="word-translation">
                  <div class="translation-category">{{i+1}}. {{translation.domain}}</div>
                  <div class="original-word translation-header">{{translation.word}}</div>
                  <div class="translated-word translation-header">{{translation.wordTranslation}}</div>
                  <div class="original-word">{{translation.example}}</div>
                  <div class="translated-word">{{translation.exampleTranslation}}</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </ng-container>
  </div>


</body>
</html>
